@{
    ViewData["Title"] = "Home Page";
}
<div class="imgBG">
    <img class="img-fluid" src="../Image/boy2.jpg" alt="">
</div>
<div class="mainContent container-fluid text-center pb-5" style="background-color: #f1f1f1;">
    <div class="mx-auto mb-5" style= "margin-top: -150px; width: 80%;">
        <div class="welcomeCard1 p-5 text-left" style=height:700px;>
            <img class="img-fluid" src="../Image/books.jpg" alt="">
            <h4 class="p-3"> Welcome to our School</h4>
            <p class="pl-3 pr-3 mb-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        </div>
        <div class="align-top welcomeCard2 p-5 text-left">
            <h3 class="pt-5 pb-5">Our Latest Events</h3>
            <h5 class="pb-5">Summer Is Here | Summer School </h5>
            <p class="font-weight-light" style="color: grey;">I’m an event description. To edit the event description go to My Events.</p>
            <button class="btn btn-outline-warning mb-5">Register</button>
            <h5 class="pb-5">Afterschool Program </h5>
            <p class="font-weight-light" style="color: grey;">I’m an event description. To edit the event description go to My Events.</p>
            <button class="btn btn-outline-warning mb-5">Register</button>
        
        </div>
    </div>
    <div class="latest mx-auto" style="width: 80%;">
        <h4 class="p-5 mainColor">Our Latest News</h4>
        <div class="mx-auto newsCard d-inline-block" style="width: 45%" >
            <div class="row row-cols-1 row-cols-md-1 mr-2">
                <div class="col mb-4">
                    <div class="card ">
                        <img src="../Image/school.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-left p-5">
                            <a href=""><h5 class="card-title mainColor">Recent school closures</h5></a>
                            <p class="card-text mainColor border-bottom pb-3">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-1 mr-2">
                <div class="col mb-4">
                    <div class="card">
                        <img src="../Image/apple2.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-left p-5">
                            <h5 class="card-title mainColor">Summer school fundraiser</h5>
                            <p class="card-text mainColor border-bottom pb-3">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sideNotes d-inline-block align-top" style="width: 35%;">
            <div class="card-body getUpdates p-5 mr-2 ml-3 mb-5 shadow-sm bg-white rounded" style="background-color: white; height: 300px;">
                <h4 class="pb-3 mainColor">Download Our School Pamphlet</h4>
                <p class="mainColor">I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                <a href="sdf" style="color: #e9db89">Download PDF</a>
            </div>
            <div class="card-body getUpdates p-5 mr-2 ml-3 shadow-sm rounded" style="background-color: #e9db89; height: 300px;">
                <h4 class="pb-3 mainColor">Get Updates</h4>
                <p class="mainColor">I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                <input class="form-control" style="background-color: #e9db89;" type="text" placeholder="Email">
                <button class="btn btn-block btn-dark m-2">Subscribe</button>
            </div>
            <div class="getBrochure">

            </div>
        </div>
    </div>
</div>