@{
    ViewData["Title"] = "OurSchool";
}
<div class="imgBG">
    <img class="img-fluid" src="../Image/class2.jpg" alt="">
</div>
<div class="mainContent container-fluid text-center p-5" style="background-color: #f1f1f1;">
    <div class="mx-auto mb-5" style= "width: 80%;">
        <div class="welcome">
            <h2 class="p-5 mainColor">Principal's Welcome</h2>
            <img class="align-top" style="width:40%;" src="../Image/alb.jpg" alt="">
            <p class="d-inline-block p-4 text-left mainColor" style="width:40%"> I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            <br> <br> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. 
            <br> <br> P.Miller, Principal</p>
        </div>
        <div class="Meet the board pt-5">
            <h2 class="p-5 mainColor">Meet Our Faculty</h2>
            <img class="align-top" style="width:40%;" src="../Image/alb.jpg" alt="">
            <p class="d-inline-block p-4 text-left mainColor" style="width:40%"> I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            <br> <br> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. 
            <br> <br> P.Miller, Principal</p>
        </div>
    </div>
</div>

